/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS RESET */

/* GLOBAL VARIABLES */
:root {
  --clr-primary-600: #34160c;
  --clr-primary-100: #fff8f0;
  --clr-hvr-menu-bar: #ff6600;
}
/* GLOBAL VARIABLES */

.header__menu_bar__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--clr-primary-600);
}

.header__menu_bar ul {
  list-style: none;
  display: flex;
  /* gap: 0.5rem; */
}

.header__menu_bar li {
  float: left;
}

.header__menu_bar li > a {
  display: inline-block;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--clr-primary-100);
  padding: 0.62rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.6s ease-out;
}

@media screen and (max-width: 750px) {
  .header__menu_bar li > a {
    padding: 0.62rem 0.5rem;
  }
}
@media screen and (max-width: 430px) {
  .header__menu_bar li > a {
    font-size: 0.65rem;
  }
}

.header__menu_bar li > a:hover {
  background-color: var(--clr-hvr-menu-bar);
  transition: background-color 0.1s ease-in;
}

.header__menu_bar li > a.selected {
  background-color: var(--clr-hvr-menu-bar);
}

.header__container {
  background-image: url("/images/bg.gif");
  background-repeat: repeat-x;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header__content__left {
  display: flex;
  width: 511px;
  height: 368px;
}
.header__content__left__container {
  background-image: url("/images/header_bg.gif");
  /* background-size: contain; */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.header__content__left__logo {
  background-image: url("/images/logo.gif");
}
.header__content__left__text {
  background-image: url("/images/header_text.gif");
}

.header__content__left__flair {
  background-image: url("/images/join_text.gif");
}

.header__content__right {
  flex-basis: 239px;
}

.search__container {
  background-image: url("/images/search_bg.gif");
  background-repeat: repeat-y;
}

.login__container {
  flex-basis: min(239px);
  background-image: url("/images/member_flat_bg.gif");
  background-repeat: repeat-y;
}
